<div class="flex-head">
    <div class="head">Добро пожаловать на RANStudy! На нашем сайте Вы можете приобрести курсы на абсолютно все случаи жизни.
    </div>
</div>
<div class="flexContainer">
    <div class="background">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <h1>КУРСЫ</h1>
                </div>
                <div class="back">
                    <p>КУРСЫ - покупая у нас курсы, мы даем вам 100% гарантию, что вы не пожалете. 
                        <p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="flex-bot">
    <div class="bot">
        ВНИМАНИЕ! ПОСЛЕ ПОКУПКИ КУРСА, НЕОБХОДИМО НАПИСАТЬ НА ПОЧТУ АДМИНИСТРАТОРУ ВАШУ ПОЧТУ НА САЙТЕ, И РЕКВИЗИТЫ С КОТОРЫХ ВЫПОЛНЯЛАСЬ ОПЛАТА!
    </div>
</div>