<div class="flex-head">
    <div class="head">Добро пожаловать в мир DarkX! На нашем сайте Вы можете приобрести квесты с динамичными локациями и ящики с сокровищами, спрятанные специально для Вас! А так же заказать посылку из DarkNet прямо к Себе домой в каком бы городе Вы не находились!
    </div>
</div>
<div class="flexContainer">
    <div class="background">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
                <div class="front">
                    <h1>КВЕСТЫ</h1>
                </div>
                <div class="back">
                    <p>КВЕСТЫ - Это история с сюжетной линией, в которой Вы станете главными героями и расследуете события, переходя от точки к точке на разных локациях. Вы найдёте загадки, решение которых приведет Вас к финишу и ценным сюрпризам!
                        <p>
                </div>
            </div>
        </div>
    </div>
    <div class="background">
        <div class="flip-container1" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper1">
                <div class="front1">
                    <h1>ПОСЫЛКА</h1>
                </div>
                <div class="back1">

                    <p> Посылка из DarkNet - Это ящик с сокровищами(с ценным содержимым), спрятанный для Вас в определённом месте. Его координаты Вы получите в ходе прохождения чек-поинтов, на которых найдёте загадки и шарады. Разгадав их Вы сможете добраться
                        до заветной цели!
                        <p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="flex-bot">
    <div class="bot">
        ВНИМАНИЕ! ВО ВРЕМЯ ИГРЫ ВАМ ПОТРЕБУЕТСЯ АВТОМОБИЛЬ, ТЕЛЕФОН С ИНТЕРНЕТОМ И ИНВЕНТАРЬ УКАЗАННЫЙ В ОПИСАНИИ К КАЖДОМУ КВЕСТУ И ПОСЫЛКЕ!
    </div>
</div>