.upload {
    display: flex;
    align-items: center;
  }
  .upload-actions {
    width: 30px;
  }
  .upload-index {
    width: 20px;
    min-width: 20px;
    max-width: 20px;
  }
  .upload-input-wrap {
    width: 100%;
  }
  