<div class="footer">
    <div class="payment">
        <div class="payments-logo">
            <img src="assets/logo tinkoff.png">
        </div>
        <div class="payments-logo-2">
            <img src="assets/ps_colour.png">
        </div>
    </div>

    <div class="description" style="text-align: center ;">
        <h2>О нас</h2>
        <span class=s panText><h6>Лучшие квесты и посылки для Вас и Ваших друзей!.</h6></span>
        <a href="mailto:support@darkx.ru" class="email">support@darkx.ru</a>
        <a class="phone">8 (922) 774-57-04
            <img class="telegram" src="assets/telegram.png">
            <img src="https://img.icons8.com/color/25/000000/whatsapp.png">
        </a>
    </div>
    <div class="social_network">
        <div class="support">
            <a [routerLink]="['support']">
                <img src="assets/chat.png" />
            </a>
        </div>
        <div class="social_network2">
            <a href="https://vk.com/club157568276">
                <img class="vk" src="assets/vk.png" />
            </a>
            <a href="https://www.instagram.com/Dark.x_86/">
                <img class="instagram" src="assets/instagram.png" />
            </a>
        </div>
    </div>
</div>