.reviews {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.reviewsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.review {
    display: inline-block;
    width: 30%;
    color: white;
    margin-bottom: 30px;
}

.reviews h2 {
    margin-bottom: 20px;
}

.icon-star {
    width: 30px;
    height: 30px;
}

.icons {
    display: inline-block;
    justify-content: center;
}