<div [ngSwitch]="size" class="d-inline-block text-nowrap">
    <ng-template [ngSwitchCase]="SizeEnum.XExtraSmall">
        <div class="ud-colored-label ud-colored-label--sm ud-colored-label--{{colorVariant}} vertical-middle"></div>
    </ng-template>
    <ng-template [ngSwitchCase]="SizeEnum.ExtraSmall">
        <span [ngClass]="'text-' + colorVariant" [innerHTML]="label"></span>
    </ng-template>
    <ng-template [ngSwitchCase]="SizeEnum.Small">
        <div class="ud-colored-label ud-colored-label--sm ud-colored-label--{{colorVariant}} vertical-middle"></div>
        <span class="vertical-middle" [innerHTML]="label"></span>
    </ng-template>
    <!-- <ng-template [ngSwitchCase]="SizeEnum.Small">
            <div class="ud-colored-label ud-colored-label--sm ud-colored-label--{{colorVariant}} vertical-middle"></div>
            <span class="vertical-middle" [innerHTML]="label"></span>
        </ng-template> -->
    <ng-template ngSwitchDefault>
        <div class="ud-colored-label ud-colored-label--{{colorVariant}} vertical-middle mr-1"></div>
        <span class="font-lg font-weight-bold vertical-middle" [innerHTML]="label"></span>
    </ng-template>
</div>
