html, body {
  height: 100%;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  color: $g-text-color;
}

main {
  height: 100%;
}

hr {
  opacity: .2;
}