<mat-grid-list cols="1" rowHeight="74px">
    <mat-grid-tile [colspan]="1" [rowspan]="9">
        <div class="offer-background">
            <div class="offer-content">
                <h4> Пользовательское Соглашение</h4>
                <p class="text">Настоящее Пользовательское Соглашение (Далее Соглашение) регулирует отношения между
                    ИП
                    РАМАЗАНОВ АЗАТ ФИЛАРИТОВИЧ (далее www.darkx.ru или Администрация) с одной стороны и
                    пользователем сайта с другой.
                    Сайт www.darkx.ru не является средством массовой информации.</p>
                <p class="text">Используя сайт, Вы соглашаетесь с условиями данного соглашения.<br>
                    <span class="select">Если Вы не согласны с условиями данного соглашения, не используйте сайт
                        www.darkx.ru!</span></p>
                <h4>Основные положения</h4>
                <p class="text">- Заказ, заявка, покупка – действия Пользователя, направленные на получение
                    услуги.<br>
                    - Исполнитель,Администрация — Индивидуальный предприниматель (ИП) Рамазанов Азат <br>
                    Филаритович,юридический
                    адрес: 628414, РОССИЯ, ХАНТЫ-МАНСИЙСКИЙ АВТОНОМНЫЙ<br>
                    ОКРУГ - ЮГРА АО, Г СУРГУТ, УЛ ПРИВОКЗАЛЬНАЯ, Д 18/4,
                    КВ
                    60, ОГРНИП 319861700044349, ИНН 860231569370, р/с 40802810800001122708 в АО "ТИНЬКОФФ БАНК", БИК
                    044525974,
                    к/р 30101810145250000974<br>

                    - Посетитель — лицо, пришедшее на сайт https://www.darkx.ru/ без цели получения Услуги<br>
                    - Пользователь, Клиент - физическое лицо, достигшие возраста 16 лет, принимающие участие <br> в
                    квесте,
                    согласно
                    установленным правилам, в т.ч. посетитель Сайта и/или Агрегатора,<br> принимающий условия
                    настоящего
                    Соглашения.
                </p>
                <p class="text">- Сайт — публичная страница сети интернет Исполнителя по адресу:
                    https://www.darkx.ru/<br>
                    - Квест -это приключенческая игра, предполагающая выполнение серии головоломок в рамках
                    <br>единого
                    сюжета или
                    одиночных загадок без сюжетной линии, на заброшенных, недостроенных <br>объектах, пригородной
                    лесополосе, городе
                    и на специально оборудованных локациях. Основной задачей квеста является решение головоломок и
                    задач,
                    требующих от Пользователя умственных и физических усилий в игровое время, в финале которого
                    Пользователь
                    получает подготовленное Администрацией вознаграждение<br>
                    - Услуги – зрелищно-развлекательная деятельность по предоставлению за денежное
                    <br>вознаграждение
                    доступа к в
                    заранее организованным квестам.<br>
                    - Агрегатор – стороннее лицо, оказывающие рекламные и посреднические услуги по разработке и
                    установке
                    Квеста<br>
                    - Игровое время – установленный Администрацией период времени (24-часа с момента покупки)
                    <br>для
                    получения
                    услуги или подачи претензий к приобретенному товару ,согласно правилам данного соглашения<br>
                    - DarkX - торговая марка Исполнителя<br>

                </p>
                <h4>Права и обязанности сторон</h4>
                <h6>Пользователь имеет право:</h6>
                <p class="text-small">- осуществлять выбор и покупку товаров представленных на сайте
                    www.darkx.ru<br>
                    - получать инструкции по использованию сайта от технической поддержки сайта<br>
                    - осуществлять поиск информации на сайте<br>
                    - получать информацию на сайте<br>
                    - комментировать контент, выложенный на сайте<br>
                    - копировать информацию на другие сайты с указанием источника<br>
                    - использовать информацию сайта в личных некоммерческих целях<br>
                </p>
                <h6>Администратор имеет право:</h6>
                <p class="text-small">- по своему усмотрению и необходимости создавать, изменять, отменять правила
                    прохождения
                    квестов<br>
                    - по своему усмотрению изменять цены на представленные товары, менять содержимое и описание
                    товаров
                    представленных на сайте<br>
                    - ограничивать доступ к любой информации на сайте<br>
                    - по своему усмотрению выбирать и осуществлять покупку товаров представленных на сайте<br>

                </p>
                <h6>Пользователь обязуется:</h6>
                <p class="text-small">- обеспечить достоверность предоставляемой информации (эл.почта и действующий
                    федеральный
                    номер телефона оформленный на клиента) В случае недостоверности этих данных, при выставлении
                    претензий к
                    качеству сервиса и вознаграждения полученного при прохождении квеста, Администрация имеет полное
                    право
                    отказать Клиенту в возврате денежных средств<br>
                    - обеспечивать сохранность личных данных от доступа третьих лиц<br>
                    - обновлять Персональные данные, предоставленные при регистрации, в случае их изменения<br>
                    - не копировать информацию с других источников<br>
                    - не нарушать работоспособность сайта<br>
                    - не создавать несколько учётных записей на Сайте, если фактически они принадлежат одному и тому
                    же
                    лицу<br>
                    - не совершать действия, направленные на введение других Пользователей в заблуждение<br>
                    - не передавать в пользование свою учетную запись и/или логин и пароль своей учетной записи
                    третьим
                    лицам<br>
                    - не регистрировать учетную запись от имени или вместо другого лица за исключением случаев,
                    предусмотренных
                    законодательством РФ
                    - не размещать материалы рекламного, эротического, порнографического или оскорбительного
                    характера,
                    а
                    также
                    иную информацию, размещение которой запрещено или противоречит нормам действующего
                    законодательства
                    РФ<br>
                    - не использовать скрипты (программы) для автоматизированного сбора информации и/или
                    взаимодействия
                    с
                    Сайтом
                    и его Сервисами
                </p>
                <h6>Администрация обязуется:</h6>
                <p class="text-small">- оказать помощь в прохождении квеста,путем передачи подсказок и конечных
                    ответов
                    по
                    запросу Пользователя в период игрового времени (24 часа с момента приобретения услуги)<br>
                    - предоставить Пользователю чек на приобретенный товар, на указанную им электронную почту при
                    оплате
                    заказа.<br>
                    - поддерживать работоспособность сайта за исключением случаев, когда это невозможно по
                    независящим
                    от
                    Администрации причинам.<br>
                    - осуществлять разностороннюю защиту учетной записи Пользователя<br>
                    - защищать информацию, распространение которой ограничено или запрещено законами путем
                    вынесения<br>
                    предупреждения либо удалением учетной записи пользователя, нарушившего правила
                    - предоставить всю доступную информацию о Пользователе уполномоченным на то органам
                    государственной
                    власти в
                    случаях, установленных законом<br>
                </p>
                <h4>Ответственность сторон</h4>
                <p class="text-small">- пользователь лично несет полную ответственность за распространяемую им
                    информацию<br>
                    - пользователь лично несет полную ответственность за свое здоровье и полученные травмы при
                    прохождении
                    квеста<br>
                    - администрация не несет никакой ответственности за достоверность информации, скопированной из
                    других
                    источников<br>
                    - администрация не несёт ответственность за несовпадение ожидаемых Пользователем и реально
                    полученных
                    услуг<br>
                    - администрация не несет никакой ответственности за услуги, предоставляемые третьими лицами<br>
                    - в случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение,
                    стихийное
                    бедствие
                    и т. д.) Администрация не гарантирует сохранность информации, размещённой Пользователем, а также
                    бесперебойную работу информационного ресурса
                </p>
                <h4>Условия действия Соглашения</h4>
                <p class="text-small">Данное Соглашение вступает в силу при любом использовании данного сайта.<br>
                    Соглашение перестает действовать при появлении его новой версии.<br>
                    Администрация оставляет за собой право в одностороннем порядке изменять данное соглашение по
                    своему
                    усмотрению.
                    При любом изменении данного соглашения, администрация будет оповещать пользователей удобным для
                    нее
                    способом.
                </p>
            </div>
            <button class="button-success" (click)="onClickAccept()">Принять</button>
        </div>
    </mat-grid-tile>
</mat-grid-list>