<form [formGroup]="lessonForm" (submit)="onSubmit($event)">
  <ud-card>
    <ud-card-content>
      <div class="row">
        <div class="col-md-3">
          <ud-forms-control [control]="lessonForm.get('name')" [errorMessages]="validationMessages.name"
            [disableInvalidClassName]="true">
            <ud-forms-label [asRequired]="isRequired('name')" [attrFor]="'name'">Название
            </ud-forms-label>
            <input formControlName="name" id="name" type="text" placeholder="Введите название" class="form-control" />
          </ud-forms-control>
          <ud-forms-control [control]="lessonForm.get('description')" [errorMessages]="validationMessages.description"
            [disableInvalidClassName]="true">
            <ud-forms-label [asRequired]="isRequired('description')" [attrFor]="'description'">Описание</ud-forms-label>
            <textarea formControlName="description" id="description" type="text" rows="12" placeholder="Описание"
              class="form-control"></textarea>
          </ud-forms-control>
          <ud-forms-control [control]="lessonForm.get('duration')" [errorMessages]="validationMessages.duration"
            [disableInvalidClassName]="true">
            <ud-forms-label [asRequired]="isRequired('duration')" [attrFor]="'duration'">Длительность</ud-forms-label>
            <textarea formControlName="duration" id="duration" type="text" placeholder="Длительность"
              class="form-control"></textarea>
          </ud-forms-control>
          <label for="course">Выберите курс</label>
          <select class="form-control" id="course" (change)="onClicked($event.target.value)">
            <option selected>Выберите курс</option>
            <option *ngFor="let course of courses" [value]="course.id">{{course.name}}</option>
          </select>
          <div class="col-md-6 col-lg-6">
            <ud-forms-label [asRequired]="isRequired('videos')" [attrFor]="'videos'">Видео</ud-forms-label>
            <ud-forms-control [control]="lessonForm.get('videos')" [errorMessages]="validationMessages.videos"
              [disableInvalidClassName]="true">
              <div *ngFor="let video of lessonForm.get('videos').value; let i = index;">
                <video width="400px" controls class="video">
                  <source [src]="video.source" [type]="video.contentType">
                </video>
                <button type="button" class="delete-button" (click)="deleteVideo($event, i)">X</button>
              </div>
              <ud-upload-video [ngModel]="uploadVideoModel" [ngModelOptions]="{standalone: true}" [showOnUpload]="false"
                [height]="videoOptions.size.h + 'px'" [width]="videoOptions.size.w + 'px'"
                (ngModelChange)="onVideoUpload($event)">
              </ud-upload-video>
            </ud-forms-control>
          </div>
        </div>
      </div>
    </ud-card-content>
  </ud-card>
  <div class="mt-5">
    <button type="button" (click)="onCancelClicked($event)" class="btn btn-clear p-0">Отмена</button>
    <button type="submit" class="btn btn-round btn-primary ml-4">Сохранить</button>
  </div>
</form>