.forgot {
    display: flex;
    justify-content: center;
    background-color: white;
    flex-wrap: wrap;
    width: 45%;
    border-radius: 10px;
    padding-bottom: 20px;
}

.forgotTitle {
    display: block;
    width: 100%;
    text-align: center;
}

.forgotContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40em;
}

.space {
    height: 34px;
}

@media screen and (max-width: 1300px) {}

@media screen and (max-width: 500px) {
    .forgot {
        display: flex;
        justify-content: center;
        background-color: white;
        flex-wrap: wrap;
        width: 85%;
        border-radius: 10px;
        padding-bottom: 20px;
        padding: 10px;
    }
}