<div class="page">
  <div class="page-header">
    <div class="page-title">Статистика</div>
  </div>

  <ud-card *ngIf="company">
    <ud-card-header>Счет</ud-card-header>
    <ud-card-content>
      <div class="row">
        <div class="col-md-4">
          <div>Текущий баланс: {{ company.balance }} руб.</div>
          <div>Лимит: {{ company.limit }} руб.</div>
        </div>
        <div class="col">
          <a [routerLink]="['./balance']">Пополнить баланс</a>
        </div>
      </div>
      <companies-components-company-payments-list
              [company]="company">
      </companies-components-company-payments-list>
    </ud-card-content>
  </ud-card>
   <div class="space"></div>
  <div class="table-responsive">
    <table class="table table-default">
      <thead class="head-table">Последние пополнения баланса:</thead>
      <thead>
      <tr>
        <th>Сумма</th>
        <th>Дата</th>
        <th>Статус</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let payment of payments">
        <td>{{payment.sum}} руб</td>
        <td>{{payment.date}}</td>
        <td *ngIf="payment.status">Успешно</td>

      </tr>
      </tbody>
    </table>
  </div>

  <div class="space"></div>
  <div class="table-responsive">
    <table class="table table-default">
      <thead class="head-table">Последние списания:</thead>
      <thead>
      <tr>
        <th>Сумма</th>
        <th>Дата</th>
        <th>Тип</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let writeOff of writeOffs">
        <td>{{writeOff.sum}} руб</td>
        <td>{{writeOff.date}}</td>
        <td>{{writeOff.type}}</td>

      </tr>
      </tbody>
    </table>
  </div>

  


  

  <ud-card class="d-block mt-4">
    <ud-card-header>Статистика</ud-card-header>
    <ud-card-content>
      <form [formGroup]="filterForm" (submit)="onSubmit($event)">
        <ud-forms-controls-wrap [showErrors]="showFormErrors">
          <div class="d-flex align-items-center mt-3">
            <ud-forms-control
                    [control]="filterForm.get('from')"
                    [errorMessages]="validationMessages.from" [noMargin]="true" class="mr-4">
              <div class="d-flex align-items-center">
                <ud-forms-label [asRequired]="isRequired('from')" styleClass="d-block mr-2 mb-0">С</ud-forms-label>
                <ng2-flatpickr
                        *ngIf="calendarOptionsFrom"
                        placeholder="Выберите дату"
                        [config]="calendarOptionsFrom"
                        formControlName="from" class="datetime-control">
                </ng2-flatpickr>
              </div>
            </ud-forms-control>
            <ud-forms-control
                    [control]="filterForm.get('until')"
                    [errorMessages]="validationMessages.until" [noMargin]="true">
                    <div class="d-flex align-items-center">
                <ud-forms-label [asRequired]="isRequired('until')" styleClass="d-block mr-2 mb-0">По</ud-forms-label>
                <ng2-flatpickr
                        *ngIf="calendarOptionsUntil"
                        placeholder="Выберите дату"
                        [config]="calendarOptionsUntil"
                        formControlName="until" class="datetime-control">
                </ng2-flatpickr>
              </div>
            </ud-forms-control>
            <button type="submit" class="btn btn-round btn-primary ml-4">Показать</button>
          </div>
        </ud-forms-controls-wrap>
      </form>

      <div class="mt-5">
        <div class="row">
          <div class="col-md-6">
            <p-chart type="line" [data]="recordsChartData"></p-chart>
          </div>
          <div class="col-md-6">
            <p-chart type="line" [data]="financeChartData"></p-chart>
          </div>
        </div>
      </div>
    </ud-card-content>
  </ud-card>

  <!--<div>Раздел в разработке</div>-->

  <ud-spinner [show]="loading"></ud-spinner>

</div>
